

body {
  margin: 0;
  text-align: center;
}

/* Header */

div.header-container {
  display: flex;
  height: 80px;
  padding-top: 0;
  background: #1571ba;
  width: 100%;
  overflow: hidden;
  z-index: 3500;
  align-items: center;
}

div.horse-logo {
  justify-content: center;
  flex: 4.5;
  text-align: center;
}

div.bet-now-button {
  justify-content: first baseline;
  flex: 1;
  text-align: center;
}

#bet-button {
  background-image: linear-gradient(to bottom, #e2001a, #991a1e);
  color: #fff;
  border-radius: 5%;
  border: #991a1e;
  height: 40px;
  width: 95px;
  font-size: 16px;
  font-weight: bold;
}

#bet-button:hover {
  background-image: linear-gradient(to bottom, #e2001a, #e2001a);
  color: #fff;
  border-radius: 5%;
  height: 40px;
  width: 95px;
  font-size: 16px;
  font-weight: bold;
}

img.horse {
  margin: 0 auto;
  width: 245.55px;
  height: 52px;
}

/* Navigation Bar */

#navbarid {
  padding: 0px;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: left;
  background-color: #1571ba;
  color: white;
  width: 100%;
  border: #fff;
  font-family: roboto,arial,helvetica,sans-serif;
  border-top: 1px solid #3785c4;
}







ul.navbar-nav {
  width: 100%;
  color: #fff;
}

a#navbarDropdownMenuLink {
  color: #fff;
}


div.ddmenu-list:hover{
 background-color:#991a1e;
}

 
.dropdown-menu.show:hover {
  display: block;
  cursor: default;
  font-size: 16px;
  color: #556067;
  left: auto;
  top: auto;
  padding: 0px;
  border-top: solid 4px #991a1e;
  border-left: solid 4px #991a1e;
  border-right: solid 4px #991a1e;
  border-bottom: solid 4px #991a1e;
  border-radius: 0%;
}




.dropdown-menu a {
  display: block;
  color: #556067;
  font-size: 16px;
  background: #fff;
  left: auto;
  top: auto;
  padding: 0;
  margin-top: 0;
}

/* .dropdown-toggle:hover {
  display: block;
  cursor: default;
  background-color: #991a1e;
  color: #fff;
} */


li.nav-item.dropdown {
  font-size: 12px;
}

 li.nav-item.dropdown:first-child {
  border-left: 1px solid #3785c4;
} 


li.nav-item.dropdown.show:hover {
  background-color:#991a1e;
}


 
a.nav-item.dropdown.toggle {
  font-size: 13px;
  padding: 10px 18px;
}



.nav-link {
  display: block;
 /* padding: 0.5rem 12rem; */
  margin-left: 83px;
  
  
}

ul.today-racing li{
  font-weight: 400;
  color: #556067;
  padding: 8px 15px;
  border-bottom: 1px dotted #beb8bb;
  list-style: none;
}


ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

div#navbarNavDropdown {
  height: 18px;
  width: 100%;
}

div#carouselExampleControls{
  position: relative;
  margin-top: 16px;

}