body {
    background-color: aqua;
    background-image: url("./gene.jpg");
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 80px;
}

div {
    border: 5px solid white;
    position: relative;
}
h1.hp {
    position: relative;
    top: 50px;
    left: 300px
}

.rectangle{
    position: relative;
}

.i-title{
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 10%;
    letter-spacing: 5px;
}



.box{
    position:relative;
  }
  
  .img-title{
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 10%;
    letter-spacing: 3px;
  }



@media only screen and (max-width: 1500px) {
    body {
      background-image: url("./horsebg.jpg");
      background-repeat: no-repeat;
      font-size: 50px;
      color: black;
    }
  }