body {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


h1 {
    font-size: 40px;
    color: orangered;              
 }


 h2 {
     font-size: 200%;
     color: darkslategray;6
 }