h1 {
    text-align: center;
}

/* 
div {
    height: 50px;
    width: 50px;
    margin: 2rem;
    background-color: brown;
} */


.blue-box {
    height: 50px;
    width: 50px;
    margin: 2rem;
    background-color: blue;
}


#big-box {
    height: 200px;
    width: 200px;
    margin: 2rem;
    background-color: orange;

}

.breakfast {
    max-height: 350px;

}

.rounded {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.hero {
    text-align: center;
    /* Using Flex Box */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8rem;
}

.two-columns {
    background-color: lightgrey;
    min-height: 10rem;

}

.half-width {
    width: 50%;
    height: 5rem;
    background-color: blueviolet;
}

.red {
    background-color: red;
    float: left;

}

.blue {
    background-color: blue;
    float: right;
}

.no-more-floats {
    clear: both;
}

.navbar-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    text-align: center;

    /* Browser is a frame set it to the top left of the frame */
}

#content {
    position: absolute;
    top: 0px;
    left: 0px;
}

.relative {
    position: relative;
    padding-bottom: 10rem;
}